* {
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
}

body {
    line-height: 1.3;
    font-size: 0.95em;
    width: 1140px;
}

body > section {
    min-height: 100%;
    float: left;
    padding: 1.5em;
}

textarea {
    font-size: 100%;
}

#menu {
    width: 25%;
    background: #0B486B;
    color: #EDF2F3;
}

#menu a {
    color: inherit;
}

#menu h1 {
    margin-top: 0;
}

#menu h1 a {
    text-decoration: none;
}

#content {
    width: 75%;
    color: #444;
}

#content h2 {
    margin-top: 0.4em;
}

#content a {
    color: inherit;
}

.fa-rss-square {
    color: orange;
}

ol, ul {
    padding: 0;
}

li {
    list-style: none;
}

#articles {
    line-height: 1.8;
}

#articles .course {
    width: 25%;
}

.article-entry {
    overflow: hidden;
}

.article-entry .course {
    color: hsl(0, 0%, 70%);
    overflow: hidden;
    white-space: nowrap;
    float: left;
}


.article-entry .category {
    background: yellow;
    color: #444;
    font-size: 80%;
    padding: 0.2em 0.4em;
}

.article-entry .headline {
    font-weight: bold;
}

.article-entry .headline a {
    text-decoration: none;
}

.article-entry .user{
    margin: 1em;
}

.id-check-pass {
    background-color: hsl(140,70%,85%);
}

.id-check-fail {
    background-color: hsl(20,70%,85%);
}

#calendar_table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
}

#calendar_table thead {
    color: #1c2440;
    text-align: right;
}

#calendar th {
    padding: 0 0.5em;
}

#calendar_table td {
    width: 14.28%;
    height: 5em;
    vertical-align: top;
    padding: 0.5em;

    border-top: 1px solid hsl(0,0%,85%);
}

#calendar_table p {
    font-size: 80%;
    text-align: right;
    margin: 0;
    padding: 0;
}

#calendar col.weekend {
    background: hsl(0,0%,95%);
}

#calendar td:hover {
    background: hsl(0,0%,90%);
}

.pure-button-success,
.pure-button-error,
.pure-button-warning,
.pure-button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.pure-button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.pure-button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.pure-button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.pure-button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}
